html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Palatino, URW Palladio L, serif;
  color: rgb(49,103,61);
  background-color: #ffe4c9;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
/* Columns */
.left-column {
  width: 45%;
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100px;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
  margin-left: 40px;
}
/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
 
.left-column img.active {
  opacity: 1;
}

/* Product Description */
.product-description {
  border-bottom: 1px;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}


.product-info{
  display: flex;
  align-items: center;
}


.cart-btn{
  margin-left: auto;
  color: #ffe4c9;
  background-color:#31673d;
  text-decoration: none;
  border: 2px solid;
  border-color:#31673d;
  padding: 8px 24px;
  border-radius: 20px;
  transition: .4s linear;
}


