header {
  display: flex;
  align-items: center;
  
  /* Remove the next line if you want the span to appear next to the h1 */
  justify-content: space-between;
}

.Home {
  margin-left: 50px;
}

.Cart {
  margin-right: 50px;
}


body {
  font-family: Palatino, URW Palladio L, serif;
  background: #ffe4c9;
  color: rgb(49,103,61);
  text-align: center;
}



.navigation {
  font-family: 'Roboto Mono', monospace;
  background: #ffe4c9;
  color: rgb(49,103,61);
  text-align: center;
  text-size: 90px;
}

hr {
  height:2px;
  background-color:rgb(49,103,61);
  width: 80%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}


.About-Us {
  width: 50%;
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.6;
  font-size: 30px;
}

.left-column {
  width: 50%;
  margin-top: 60px;
  margin-left: 20px;
  text-align: left;
  line-height: 1.6;
  font-size: 1.2em;
}



.right-column {
  width: 50%;
  margin-top: 60px;
  margin-left: 40px;
  text-align: left;
  line-height: 1.6;
  font-size: 1.2em;
}

.right-column img {
  width: 80%;
  margin-left: 60px;

}

.What-Makes-Us-Image {
  Width: 600px;
  margin-right: 70px;
  align: left;
}


.Guidance {
  
  margin-top: 60px;
  
  margin-right: 30px;
  text-align: left;
  line-height: 1.6;
  font-size: 1.2em;
}

.Guidance-Image {
  margin-right: 70px;
  align: left
}

/*.footer{
   display: flex;
  margin-top: 150px;
  width: 100%;
  background: rgb(49,103,61);
  color: #ffe4c9;
 
}

.footer div{
 text-align: center;
}

.col-1{
 margin-left:10%;
}

.col-2{
 flex-grow: 2;
 margin-bottom: 5%;
}

.col-3{
 margin-right:10%;
}

.footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.col-1 a{
  display: block;
  taxt-decoration: none;
  color: #ffe4c9;
  margin-bottom: 10px;
}

form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form button{
  background: transparent;
  border: 2px solid #ffe4c9;
  color: #ffe4c9;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px
}

.social-icons{
  margin-top: 30px;
}

.social-icons i{
  font-size: 22px;
  margin: 10px;
  curcor: pointer;
}
*/

